.centered {
    text-align: center;
}
.alignright {
    text-align: right;
}
.rowhaus-layout {
    background: url('rowing-overhead.jpg') center / cover;
}
#header {
    font-size: xx-large;
}
#graph {
    width: 100%;
    height: 500px;
}
#footer {
    font-size: large;
}
